### K-NN Classifier - Calculating Distance with Categorical Predictors

This program is a solution to the problem 7.1 of chapter 7 of following book. 

Data Mining for Business Analytics: Concepts, Techniques, and Applications in Python, First Edition.

Galit Shmueli, Peter C. Bruce, Peter Gedeck, and Nitin R. Patel

Â© 2020 John Wiley & Sons, Inc. Published 2020 by John Wiley & Sons, Inc.

#### Importing Libraries

In [30]:
import pandas as pd
import numpy as np
import sklearn as skl
from sklearn.neighbors import NearestNeighbors

Printing versions of libraries

In [31]:
print('pandas version: {}'.format(pd.__version__))
print('numpy version: {}'.format(np.__version__))
print('sklearn version: {}'.format(skl.__version__))

pandas version: 1.5.3
numpy version: 1.23.5
sklearn version: 1.2.1

#### Creating a dataset

In [32]:
df = pd.DataFrame({'category':['Stat', 'Other', 'IT'],
                   'num_years':[1, 1.1, 1],
                   'Couse_Taken': ['No', 'Yes', 'Unknown']})

df['customer'] = df.index + 1
column_to_move = df.pop('customer')
df.insert(0, 'customer', column_to_move)

display(df)

   customer category  num_years Couse_Taken
0         1     Stat        1.0          No
1         2    Other        1.1         Yes
2         3       IT        1.0     Unknown

#### Declaring method to calculate the Euclidean distance between the prospect and each of the other two customers.

In [33]:
def Calculate_Distance(existing_customers, prospect_customer):
    point_2 = prospect_customer.iloc[:,1:].to_numpy()[0]

    result = []
    for _, row in existing_customers.iterrows():
        point_1 = np.array(row.iloc[1:])
        distance = np.linalg.norm(point_1 - point_2)
        result.append([int(row[0]), distance])

    distance_df = pd.DataFrame(result, columns = ['Customer', 'Distance with Prospect'])
    return distance_df

#### Using two dummies - categorical predictor variable transformed into 2 binaries

In [34]:
df_2binary = pd.get_dummies(df.iloc[:,:-1], drop_first=True)
display(df_2binary)

   customer  num_years  category_Other  category_Stat
0         1        1.0               0              1
1         2        1.1               1              0
2         3        1.0               0              0

##### Calculating the Euclidean distance between the prospect and each of the other two customers.

In [35]:
existing_customers = df_2binary.iloc[:2,]
prospect_customer = df_2binary.iloc[2:,]

display(Calculate_Distance(existing_customers, prospect_customer))

   Customer  Distance with Prospect
0         1                1.000000
1         2                1.004988

##### Using k-NN with k = 1 to classify the prospect as taking or not taking a course

In [36]:
# use NearestNeighbors from scikit-learn to compute knn
knn = NearestNeighbors(n_neighbors=1)
knn.fit(existing_customers.iloc[:, 1:])
distances, indices = knn.kneighbors(prospect_customer.iloc[:,1:])

# indices is a list of lists, we are only interested in the first element
df.iloc[indices[0], :]

   customer category  num_years Couse_Taken
0         1     Stat        1.0          No

##### Result

From above table we see that the closest neighbor to the prospect is customer 1 who has not taken the course. Therefore, we conclude that prospect will not be taking the course.

#### Using three dummies - categorical predictor variable transformed into 3 binaries

In [37]:
df_3binary = pd.get_dummies(df.iloc[:,:-1])
display(df_3binary)

   customer  num_years  category_IT  category_Other  category_Stat
0         1        1.0            0               0              1
1         2        1.1            0               1              0
2         3        1.0            1               0              0

##### Calculating the Euclidean distance between the prospect and each of the other two customers.

In [38]:
existing_customers = df_3binary.iloc[:2,]
prospect_customer = df_3binary.iloc[2:,]

display(Calculate_Distance(existing_customers, prospect_customer))

   Customer  Distance with Prospect
0         1                1.414214
1         2                1.417745

##### Using k-NN with k = 1 to classify the prospect as taking or not taking a course.

In [39]:
# use NearestNeighbors from scikit-learn to compute knn
knn = NearestNeighbors(n_neighbors=1)
knn.fit(existing_customers.iloc[:, 1:])
distances, indices = knn.kneighbors(prospect_customer.iloc[:,1:])

# indices is a list of lists, we are only interested in the first element
df.iloc[indices[0], :]

   customer category  num_years Couse_Taken
0         1     Stat        1.0          No

##### Result

From above table we see that the closest neighbor to the prospect is customer 1 who has not taken the course. Therefore, we conclude that prospect will not be taking the course.

#### Overall Result

Therefore, we see that it doesn't make a difference whether we use two or three dummies.